@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
$accent-color: #f78599;
*, :before, :after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Noto Serif JP', serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 7vw;
  user-select: none;
  
  & .overlay {
    width: calc(7vw + 50px);
    height: 70px;
    position: absolute;
    left: 0;
    background-color: white;
  }
  & .icon {
    width: calc(50px + 10px + 120px);
    display: flex;
    gap: 5px;
    font-size: 30px;
    color: black;
    
    & img {
      z-index: 1;
    }
    & > span {
      position: absolute;
      left: calc(7vw - 95px);
      z-index: -1;
    }
  }
}
nav {
  width: 100%;
  height: 45px;
  position: sticky;
  top: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 17px;
  background-color: $accent-color;
  padding: 0 calc(7vw - 10px);
  z-index: 999;
  
  & > a {
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    z-index: 1;
    
    &.top {
      font-size: 22px;
      display: none;
    }
    &:not(.top):before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #d26f73;
      transition: 0.25s;
      z-index: -1;
    }
    &:not(.top):hover:before {
      width: 100%;
    }
  }
  & .dark-switcher {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
    margin-left: auto;
    
    @mixin icon-color($color) {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="70 -245 400 446"><path fill="#{$color}" d="M191 381q-30 -28 -46 -67v0q-17 -38 -17 -82q2 -84 55 -141q53 -58 135 -66q-43 -24 -94 -25q-82 2 -136 56t-56 136q1 73 46 124q44 52 113 65v0zM257 403q-3 11 -15 12q-9 1 -19 1q-62 -1 -112 -31q-51 -29 -81 -80q-29 -50 -30 -113q1 -63 31 -113q29 -51 80 -80 q50 -30 113 -31q93 2 155 63q8 9 3 19t-17 9q-14 -3 -30 -3q-74 2 -124 52q-49 49 -51 124q0 50 24 90q25 40 65 63q10 6 8 18v0z" transform="rotate(-45)"/></svg>');
    }
    & .icon {
      height: 17px;
      width: 17px;
      background-repeat: no-repeat;
      transition: 0.5s;
      @include icon-color("%231e2836")
    }
    &:hover {
      background-color: #1e2836;
      box-shadow: 0px 0px 10px 2px white;
      
      & .icon {
        @include icon-color("white");
      }
    }
  }
  & .hamburger {
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    
    &:hover, &:active {
      background-color: #d26f73;
    }
    & .icon {
      width: 25px;
      height: 2.5px;
      background-color: white;
      z-index: 1;
      transition: 0.25s;
      
      @mixin line {
        width: 25px;
        height: 2.5px;
        background-color: white;
        content: "";
        position: relative;
        display: block;
        transition: 0.25s;
      }
      &:before {
        @include line;
        top: -10px;
      }
      &:after {
        @include line;
        top: 7px;
      }
    }
  }
  & .menu {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    background-color: $accent-color;
    transition: 0.5s;
    white-space: nowrap;
    border-top: 1px solid white;
    padding-top: 30px;
    
    & > * {
      margin: 0 calc(7vw - 10px);
    }
    & a {
      color: white;
      padding: 10px;
    }
  }
}
.dummy-nav {
  width: 100%;
  height: 45px;
  display: none;
  background-color: white;
}
main {
  padding: 0 7vw;
  margin-top: 10px;
  margin-bottom: 30px;
  
  & .header {
    height: 30px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-size: 15px;
    
    & .dir {
      & a {
        color: black;
        text-decoration: underline dotted;
        
        &:hover {
          color: $accent-color;
        }
      }
    }
    & .time {
      position: relative;
      margin-left: auto;
      
      & .sum-time {
        background-color: white;
        border: none;
        border-radius: 5px;
        padding: 3px 10px;
        outline: none;
        cursor: pointer;
        
        &:hover {
          text-decoration: underline;
          background-color: #dcdcdc;
        }
      }
      & .detail {
        width: 200px;
        height: 110px;
        position: absolute;
        top: 27px;
        right: 0px;
        display: none;
        padding: 8px 15px;
        line-height: 22px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 3px 0px grey;
        z-index: 1;
        
        & > * {
          width: fit-content;
        }
        &.detail-show {
          display: block;
        }
        & :not(.title) {
          margin-left: 10px;
        }
      }
    }
  }
}
footer {
  border-top: 1px solid black;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  
  & a {
    color: black;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
.page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  transition: width 0.15s, height 0.15s, right 0.15s, bottom 0.15s;
  
  &:before {
    content: "↑";
    position: relative;
    top: -1px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.15s;
  }
  &:hover:before {
    font-size: 20px;
  }
  &:hover:not(:active) {
    width: 55px;
    height: 55px;
    right: 22.5px;
    bottom: 22.5px;
  }
}

body.loaded {
  @keyframes show-icon {
    0% {
      left: calc(7vw - 95px);
    }
    100% {
      left: calc(7vw + 55px);
    }
  }
  header {
    
    & .icon {
      
      & span {
        animation: 1s forwards show-icon;
      }
    }
  }
}
body.scroll {
  & nav {
    & > a.top {
      display: block;
    }
  }
  & .page-top {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  nav {
    & > a:not(.top) {
      display: none;
    }
    & .hamburger {
      display: flex;
    }
    & .menu {
      display: flex;
    }
  }
  main {
    width: 100%;
    padding-left: 0;
    
    & .header {
      padding: 0 7vw;
    }
    & .wiki {
      padding: 0 7vw;
    }
  }
  body.menu-show {
    header {
      & .icon {
        opacity: 0;
      }
    }
    .dummy-nav {
      display: block;
    }
    nav {
      position: fixed;
      
      & .top {
        display: block !important;
      }
      & .hamburger .icon {
        background-color: transparent;
        
        &:before {
          transform: translateY(9.5px) rotate(45deg);
        }
        &:after {
          transform: translateY(-9.5px) rotate(-45deg);
        }
      }
      & .menu {
        width: 100%;
        top: 44px;
        opacity: 1;
      }
    }
  }
}
