@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
*, :before, :after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 7vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .overlay {
  width: calc(7vw + 50px);
  height: 70px;
  position: absolute;
  left: 0;
  background-color: white;
}
header .icon {
  width: 180px;
  display: flex;
  gap: 5px;
  font-size: 30px;
  color: black;
}
header .icon img {
  z-index: 1;
}
header .icon > span {
  position: absolute;
  left: calc(7vw - 95px);
  z-index: -1;
}

nav {
  width: 100%;
  height: 45px;
  position: sticky;
  top: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 17px;
  background-color: #f78599;
  padding: 0 calc(7vw - 10px);
  z-index: 999;
}
nav > a {
  height: 100%;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  z-index: 1;
}
nav > a.top {
  font-size: 22px;
  display: none;
}
nav > a:not(.top):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #d26f73;
  transition: 0.25s;
  z-index: -1;
}
nav > a:not(.top):hover:before {
  width: 100%;
}
nav .dark-switcher {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
  margin-left: auto;
}
nav .dark-switcher .icon {
  height: 17px;
  width: 17px;
  background-repeat: no-repeat;
  transition: 0.5s;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="70 -245 400 446"><path fill="%231e2836" d="M191 381q-30 -28 -46 -67v0q-17 -38 -17 -82q2 -84 55 -141q53 -58 135 -66q-43 -24 -94 -25q-82 2 -136 56t-56 136q1 73 46 124q44 52 113 65v0zM257 403q-3 11 -15 12q-9 1 -19 1q-62 -1 -112 -31q-51 -29 -81 -80q-29 -50 -30 -113q1 -63 31 -113q29 -51 80 -80 q50 -30 113 -31q93 2 155 63q8 9 3 19t-17 9q-14 -3 -30 -3q-74 2 -124 52q-49 49 -51 124q0 50 24 90q25 40 65 63q10 6 8 18v0z" transform="rotate(-45)"/></svg>');
}
nav .dark-switcher:hover {
  background-color: #1e2836;
  box-shadow: 0px 0px 10px 2px white;
}
nav .dark-switcher:hover .icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="70 -245 400 446"><path fill="white" d="M191 381q-30 -28 -46 -67v0q-17 -38 -17 -82q2 -84 55 -141q53 -58 135 -66q-43 -24 -94 -25q-82 2 -136 56t-56 136q1 73 46 124q44 52 113 65v0zM257 403q-3 11 -15 12q-9 1 -19 1q-62 -1 -112 -31q-51 -29 -81 -80q-29 -50 -30 -113q1 -63 31 -113q29 -51 80 -80 q50 -30 113 -31q93 2 155 63q8 9 3 19t-17 9q-14 -3 -30 -3q-74 2 -124 52q-49 49 -51 124q0 50 24 90q25 40 65 63q10 6 8 18v0z" transform="rotate(-45)"/></svg>');
}
nav .hamburger {
  width: 45px;
  height: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
nav .hamburger:hover, nav .hamburger:active {
  background-color: #d26f73;
}
nav .hamburger .icon {
  width: 25px;
  height: 2.5px;
  background-color: white;
  z-index: 1;
  transition: 0.25s;
}
nav .hamburger .icon:before {
  width: 25px;
  height: 2.5px;
  background-color: white;
  content: "";
  position: relative;
  display: block;
  transition: 0.25s;
  top: -10px;
}
nav .hamburger .icon:after {
  width: 25px;
  height: 2.5px;
  background-color: white;
  content: "";
  position: relative;
  display: block;
  transition: 0.25s;
  top: 7px;
}
nav .menu {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  background-color: #f78599;
  transition: 0.5s;
  white-space: nowrap;
  border-top: 1px solid white;
  padding-top: 30px;
}
nav .menu > * {
  margin: 0 calc(7vw - 10px);
}
nav .menu a {
  color: white;
  padding: 10px;
}

.dummy-nav {
  width: 100%;
  height: 45px;
  display: none;
  background-color: white;
}

main {
  padding: 0 7vw;
  margin-top: 10px;
  margin-bottom: 30px;
}
main .header {
  height: 30px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  font-size: 15px;
}
main .header .dir a {
  color: black;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
main .header .dir a:hover {
  color: #f78599;
}
main .header .time {
  position: relative;
  margin-left: auto;
}
main .header .time .sum-time {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  outline: none;
  cursor: pointer;
}
main .header .time .sum-time:hover {
  text-decoration: underline;
  background-color: #dcdcdc;
}
main .header .time .detail {
  width: 200px;
  height: 110px;
  position: absolute;
  top: 27px;
  right: 0px;
  display: none;
  padding: 8px 15px;
  line-height: 22px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px grey;
  z-index: 1;
}
main .header .time .detail > * {
  width: -moz-fit-content;
  width: fit-content;
}
main .header .time .detail.detail-show {
  display: block;
}
main .header .time .detail :not(.title) {
  margin-left: 10px;
}
main .overlay .info404 {
  height: calc(100svh - 30px - 10px - 45px - 70px);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
}
main .overlay .info404 span {
  font-size: min(4vw, 16px);
}
main .overlay .info404 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .overlay .info404 div a {
  border-bottom: 1px dotted black;
  position: relative;
}
main .overlay .info404 div a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: #f78599;
  transition: 0.5s;
}
main .overlay .info404 div a:hover:before {
  width: 100%;
}
@keyframes show404 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .overlay.err404 .info404 {
  display: flex;
  animation: 0.25s forwards show404;
}
main .overlay.err404 > .loading {
  display: none;
}
main .overlay > .loading {
  height: calc(100svh - 30px - 10px - 45px - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@keyframes loading-icon {
  0% {
    transform: none;
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: none;
  }
}
main .overlay > .loading .icon1 {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  background-color: #f78599;
  border-radius: 100%;
  left: -15px;
  animation: 1s 0s infinite loading-icon;
}
main .overlay > .loading .icon2 {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  background-color: #f78599;
  border-radius: 100%;
  animation: 1s 333ms infinite loading-icon;
}
main .overlay > .loading .icon3 {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  background-color: #f78599;
  border-radius: 100%;
  left: 15px;
  animation: 1s 666ms infinite loading-icon;
}
main .overlay .enable-js {
  width: 100%;
  height: calc(100svh - 30px - 10px - 45px - 70px);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .overlay .enable-js span {
  font-size: min(4vw, 16px);
}
main .overlay.wiki-loaded .info404, main .overlay.wiki-loaded > .loading, main .overlay.wiki-loaded .enable-js {
  display: none;
}

footer {
  border-top: 1px solid black;
  padding: 5px 0;
  display: flex;
  justify-content: center;
}
footer a {
  color: black;
}
footer a:hover {
  text-decoration: underline;
}

.page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  box-shadow: 0px 0px 10px 2px #a5a5a5;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: width 0.15s, height 0.15s, right 0.15s, bottom 0.15s;
}
.page-top:before {
  content: "↑";
  position: relative;
  top: -1px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.15s;
}
.page-top:hover:before {
  font-size: 20px;
}
.page-top:hover:not(:active) {
  width: 55px;
  height: 55px;
  right: 22.5px;
  bottom: 22.5px;
}

@keyframes show-icon {
  0% {
    left: calc(7vw - 95px);
  }
  100% {
    left: calc(7vw + 55px);
  }
}
body.loaded header .icon span {
  animation: 1s forwards show-icon;
}

body.scroll nav > a.top {
  display: block;
}
body.scroll .page-top {
  display: flex;
}

@media screen and (max-width: 750px) {
  nav > a:not(.top) {
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .menu {
    display: flex;
  }
  main {
    width: 100%;
    padding: 0;
  }
  main .header {
    padding: 0 7vw;
  }
  main .overlay {
    padding: 0 7vw;
  }
  main .overlay .enable-js {
    width: calc(100% - 14vw);
  }
  body.menu-show header .icon {
    opacity: 0;
  }
  body.menu-show .dummy-nav {
    display: block;
  }
  body.menu-show nav {
    position: fixed;
  }
  body.menu-show nav .top {
    display: block !important;
  }
  body.menu-show nav .hamburger .icon {
    background-color: transparent;
  }
  body.menu-show nav .hamburger .icon:before {
    transform: translateY(9.5px) rotate(45deg);
  }
  body.menu-show nav .hamburger .icon:after {
    transform: translateY(-9.5px) rotate(-45deg);
  }
  body.menu-show nav .menu {
    width: 100%;
    top: 44px;
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */