main .wiki {
  position: relative;
  letter-spacing: 1px;
  line-height: 32px;
  min-height: calc(100svh - 30px - 10px - 45px - 70px);
}
main .wiki .info404 {
  height: calc(100svh - 30px - 10px - 45px - 70px);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
}
main .wiki .info404 span {
  font-size: min(4vw, 16px);
}
main .wiki .info404 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .wiki .info404 div a {
  border-bottom: 1px dotted black;
  position: relative;
}
main .wiki .info404 div a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: #f78599;
  transition: 0.5s;
}
main .wiki .info404 div a:hover:before {
  width: 100%;
}
@keyframes show404 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .wiki.err404 .info404 {
  display: flex;
  animation: 0.25s forwards show404;
}
main .wiki.err404 > .loading {
  display: none;
}
main .wiki > .loading {
  height: calc(100svh - 30px - 10px - 45px - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@keyframes loading-icon {
  0% {
    transform: none;
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: none;
  }
}
main .wiki > .loading .icon1 {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  background-color: #f78599;
  border-radius: 100%;
  left: -15px;
  animation: 1s 0s infinite loading-icon;
}
main .wiki > .loading .icon2 {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  background-color: #f78599;
  border-radius: 100%;
  animation: 1s 333ms infinite loading-icon;
}
main .wiki > .loading .icon3 {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  background-color: #f78599;
  border-radius: 100%;
  left: 15px;
  animation: 1s 666ms infinite loading-icon;
}
main .wiki .enable-js {
  width: 100%;
  height: calc(100svh - 30px - 10px - 45px - 70px);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
main .wiki .enable-js span {
  font-size: min(4vw, 16px);
}
main .wiki .line-start + hr {
  display: none;
}
main .wiki > .title {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-bottom: 5px solid #f78599;
}
main .wiki > .title span.date {
  font-size: 15px;
  color: grey;
}
main .wiki > .title span:not(.date) {
  font-weight: bold;
  font-size: 25px;
}
main .wiki a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
main .wiki a:hover {
  color: #f78599;
  border-color: #f78599;
}
main .wiki h1, main .wiki h2, main .wiki h3, main .wiki h4, main .wiki h5, main .wiki h6 {
  border-bottom: 2px solid black;
  padding: 7px;
}

@media screen and (max-width: 750px) {
  main .wiki {
    padding: 0 7vw;
  }
  main .wiki .enable-js {
    width: calc(100% - 14vw);
  }
}/*# sourceMappingURL=wiki.css.map */