$accent-color: #f78599;
main {
  & .wiki {
    position: relative;
    letter-spacing: 1px;
    line-height: 32px;
    min-height: calc(100svh - 30px - 10px - 45px - 70px);
    
    & .info404 {
      height: calc(100svh - 30px - 10px - 45px - 70px);
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      opacity: 0;
      
      & span {
        font-size: min(4vw, 16px);
      }
      & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & a {
          border-bottom: 1px dotted black;
          position: relative;
          
          &:before {
            content: "";
            width: 0;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            background-color: #f78599;
            transition: 0.5s;
            
          }
          &:hover:before {
            width: 100%;
          }
        }
      }
    }
    &.err404 {
      @keyframes show404 {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      & .info404 {
        display: flex;
        animation: 0.25s forwards show404;
      }
      & > .loading {
        display: none;
      }
    }
    & > .loading {
      height: calc(100svh - 30px - 10px - 45px - 70px);
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      
      @keyframes loading-icon {
        0% {
          transform: none;
        }
        25% {
          transform: translateY(-20px);
        }
        50% {
          transform: none;
        }
      }
      @mixin dot {
        width: 15px;
        height: 15px;
        position: relative;
        display: block;
        background-color: $accent-color;
        border-radius: 100%;
      }
      & .icon1 {
        @include dot;
        left: -15px;
        animation: 1s 0s infinite loading-icon;
      }
      & .icon2 {
        @include dot;
        animation: 1s 333ms infinite loading-icon;
      }
      & .icon3 {
        @include dot;
        left: 15px;
        animation: 1s 666ms infinite loading-icon;
      }
    }
    & .enable-js {
      width: 100%;
      height: calc(100svh - 30px - 10px - 45px - 70px);
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      
      & span {
        font-size: min(4vw, 16px);
      }
    }
    & .line-start + hr {
      display: none;
    }
    & > .title {
      display: flex;
      flex-direction: column;
      padding: 7px 7px 10px 7px;
      margin: 15px 0;
      border-bottom: 5px solid #f78599;
      
      &  span.date {
        font-size: 15px;
        color: grey;
      }
      & span:not(.date) {
        font-weight: bold;
        font-size: 25px;
      }
    }
    & a {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid black;
      
      &:hover {
        color: $accent-color;
        border-color: $accent-color;
      }
    }
    & h1, & h2, & h3, & h4, & h5, & h6 {
      border-bottom: 2px solid black;
      padding: 7px;
      margin: 0;
    }
    & strong {
      background-image: linear-gradient(to right, transparent 50%, #ffb80090 50%);
      background-repeat: repeat-x;
      background-size: 200% 2em;
      background-position: 0 20px;
      
      &.highlighted {
        background-position: -100% 20px;
        transition: background-position-x 1.5s ease;
      }
    }
    & img {
      max-width: 100%;
      position: relative;
      
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  main {
    
    & .wiki {
      padding: 0 7vw;
      
      & .enable-js {
        width: calc(100% - 7vw * 2);
      }
    }
  }
}
