@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
* {
  box-sizing: border-box;
}
*[hidden] {
  display: none !important;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 7vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .icon {
  font-size: 30px;
}

nav {
  width: 100%;
  height: 45px;
  position: sticky;
  top: -1px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 17px;
  background-color: #f78599;
  padding-left: calc(7vw - 10px);
}
nav > a {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  z-index: 1;
}
nav > a.top {
  font-size: 22px;
}
nav > a:not(.top):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #d26f73;
  transition: 0.25s;
  z-index: -1;
}
nav > a:not(.top):hover:before {
  width: 100%;
}
nav .hamburger {
  width: 45px;
  height: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
nav .hamburger:hover, nav .hamburger:active {
  background-color: #d26f73;
}
nav .hamburger .icon {
  width: 25px;
  height: 2.5px;
  background-color: white;
  z-index: 1;
}
nav .hamburger .icon:before {
  width: 25px;
  height: 2.5px;
  background-color: white;
  content: "";
  position: relative;
  display: block;
  top: -10px;
}
nav .hamburger .icon:after {
  width: 25px;
  height: 2.5px;
  background-color: white;
  content: "";
  position: relative;
  display: block;
  top: 7px;
}
nav .menu {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  background-color: #f78599;
  transition: 0.5s;
  white-space: nowrap;
  border-top: 1px solid white;
  padding-top: 30px;
}
nav .menu > * {
  margin-left: calc(7vw - 10px);
}
nav .menu a {
  color: white;
  padding: 10px;
}

.page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.15s;
}
.page-top:before {
  content: "↑";
  font-weight: bold;
  font-size: 18px;
  transition: 0.15s;
}
.page-top:hover:before {
  font-size: 20px;
}
.page-top:hover:not(:active) {
  width: 55px;
  height: 55px;
  right: 22.5px;
  bottom: 22.5px;
}

@media screen and (max-width: 750px) {
  nav.menu-show {
    position: fixed;
  }
  nav.menu-show .top {
    display: block !important;
  }
  nav > a:not(.top) {
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .menu {
    display: flex;
  }
  nav .menu.menu-show {
    width: 100%;
    top: 44px;
    opacity: 1;
  }
  .page-top.menu-show {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */
